{% import 'macros/form.html' as _form %}

<div id="newCustomer" class="drawer w-50">
    <div class="container-fluid px-4 py-3">
        <h1 class="f-28 money b-3">
            Create New Contact
            <sapn  tabindex="1" class="sw-i-btn f-10" 
                sw-title="Create a new customer by filling form and * notaion shows neccisity to fill form.">
                i
            </sapn>
        </h1>
        <form action="{{ url_for('customers.all_contacts') }}" method="POST" class="sw-form f-14">
            {{ c_form.hidden_tag() }}
    
            <div class="row my-3">
                <div class="col-5">
                    {{ _form.sw_input(c_form.name, "Name") }}
                </div>
            </div>

    
            <h3 class="f-18 mb-0 mt-1 border-bottom pb-1">
                Contanct Details
            </h3>
    
            <div class="row f-14 my-3">
                <div class="col-3 pr-0">
                    {{ _form.sw_input(c_form.phone, "Phone") }}
                </div>
    
                <div class="col-5 pr-0">
                    {{ _form.sw_input(c_form.email, "Email") }}
                </div>
    
                <div class="col-4">
                    {{ _form.sw_input(c_form.website, "Website") }}
                </div>
                
            </div>

            <div class="row f-14 my-3">
                <div class="col-4">
                    <select name="Customer_id" id="Customer_id" class="sw-form-input">
                        {% for customer in customers %}
                            <option value="{{ customer.id }}" >{{ customer.display_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    

    
            <div class="row">
                <div class="col-12">
                    <div class="py-3 d-flex">
                        <button tabindex="11" type="submit" class="sw-btn d-inline-block px-4 mx-1">
                            Save
                        </button>
                        <button type="button" tabindex="10" class="sw-btn sw-btn-outline drawer-cancle-button d-inline-block px-3 mx-2">
                            Cancle
                        </button >
                    </div>                        
                </div>
            </div>
    
        </form>
    </div>        
</div>