<div class="row m-0">
    <div class="col-12 ">
        <div class="row">
            <div class="col-5">
                <h4 class="border-bottom pb-2 b-3 f-28">Agust Accounting</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ullam debitis laudantium libero quaerat quos. Eius molestiae vitae, provident debitis velit quod vero, voluptas corporis obcaecati recusandae tenetur esse explicabo.</p>

            </div>
            <div class="col-7">
                <a href="#">Feedback</a>
            </div>
        </div>
    </div>
</div>