<div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512"  xml:space="preserve" style="height: 102px; width: 102px;">
            <g><g><path fill="var(--theme-primary)" d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M256,74.667    c67.635,0,122.667,55.031,122.667,122.667S323.635,320,256,320s-122.667-55.031-122.667-122.667S188.365,74.667,256,74.667z     M256,469.333c-69.707,0-131.52-33.755-170.473-85.615c42.676-20.534,103.621-42.385,170.473-42.385    c66.857,0,127.807,21.854,170.474,42.383C387.521,435.577,325.708,469.333,256,469.333z"/></g></g>
        </svg>
    </div>

    <div class="row p-3">
        <div class="col-12 p-0">
            <select class="sw-form-input f-20" name="d" id="s">
                <option value="">Service</option>
                <option value="">Sales</option>
            </select>
        </div>
        <div class="col-12 border-top px-0">

            <div class="py-2" style="color: #000;">
                <div class="p-2" style="border: none;">
                    <a href="{{ url_for('main.home') }}" style="text-decoration: none;">
                        <label class=" b-3 pl-1 mb-0 f-14 pb-1">Profile</label>
                    </a>
                </div>
    
                <div class="p-2" style="border: none;">
                    <a href="{{ url_for('customers.all_customers') }}" style="text-decoration: none;">
                        <label class=" b-3 pl-1 mb-0 f-14 pb-1">Accounts</label>
                    </a>
                </div>
    
                <div class="p-2" style="border: none;">
                    <a href="{{ url_for('main.home') }}" style="text-decoration: none;">
                        <label class=" b-3 pl-1 mb-0 f-14 pb-1">Billing</label>
                    </a>
                </div>
    
                <div class="p-2" style="border: none;">
                    <label class=" b-3 pl-1 mb-0 f-14 pb-1">Complaints</label>
                </div>
    
                <div class="p-2" style="border: none;">
                    <label class=" b-3 pl-1 mb-0 f-14 pb-1">Activity</label>
                </div>
    
                <div class="p-2" style="border: none;">
                    <a href="{{ url_for('main.home') }}" style="text-decoration: none;">
                        <label class=" b-3 pl-1 mb-0 f-14 pb-1">Help & Feedback</label>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row p-3" style="position: absolute; bottom: 0; width: 100%;">
        <dov class="col-12 border-top px-0">
            <div class="p-2" style="border: none;">
                <a href="{{ url_for('users.logout') }}" style="text-decoration: none;">
                    <label class=" b-3 pl-1 mb-0 f-14 w-100 pb-1 text-center">Logout</label>
                </a>
            </div>
        </dov>
    </div>


</div>