{% extends 'base.html' %}

{% block main %}
<div class="container py-4">
    <div class="row">
      <div class="col-12">
        <h1 class="f-24 sharp-txt">Creative Business Systems</h1>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-4">
          <div class="sw-card">
            <div class="sw-card-head">
              <h1 class="f-16 b-3 d-inline sharp-txt">Profit and Loss</h1>
              <select class="form-control-sm float-right f-10 p-0 d-inline" style="border: none;">
                <option>Yesterday</option>
                <option>Last Week</option>
                <option>Last Month</option>
                <option>Last Year</option>                  
              </select>
            </div>              
            <div>
              <h3 class="f-28 b-4 mb-0 money d-inline-block">$23,255</h3>
              <sapn class="f-12 d-block sharp-txt">NET PROFIT FOR MARCH</sapn>
            </div>
            <p class="f-12 mt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex natus iusto quis eveniet optio, repudiandae, atque suscipit nemo eum, voluptatem possimus ipsa! Minima necessitatibus, accusamus quisquam alias ullam non?
            </p>
          </div>
      </div>

      <div class="col-4">
          <div class="sw-card">
            <div class="sw-card-head">
              <h1 class="f-16 b-3 d-inline sharp-txt">Expenses</h1>
              <select class="form-control-sm float-right f-10 p-0 d-inline" style="border: none;">
                <option>Yesterday</option>
                <option>Last Week</option>
                <option>Last Month</option>
                <option>Last Year</option>                  
              </select>
            </div>              
            <div>
              <h3 class="f-28 b-4 mb-0 money d-inline-block">$80,055</h3>
              <sapn class="f-12 d-block sharp-txt">NET PROFIT FOR MARCH</sapn>
            </div>
            <p class="f-12 mt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex natus iusto quis eveniet optio, repudiandae, atque suscipit nemo eum, voluptatem possimus ipsa! Minima necessitatibus, accusamus quisquam alias ullam non?
            </p>
          </div>
      </div>

      <div class="col-4">

        <div class="sw-card">
          <div class="sw-card-head">
            <h1 class="f-16 b-3 d-inline sharp-txt">Bank accounts</h1>              
          </div>

          <div>
            <h3 class="f-28 b-4 mb-0 money d-inline-block">$1,88,205</h3>
            <sapn class="f-12 d-block sharp-txt">Current Balance</sapn>
          </div>

          <span class="f-12">Last Transections</span>
          <ul class="f-10 px-1">
            <li>12/05/2020  -  $22,254</li>
            <li>2/05/2020  -  $2,000</li>
            <li>22/04/2020  -  $10,200</li>
          </ul>
                      
          <div class="sw-card-bottom">
            <div style="position: relative;">
              <a href="#" class="f-12 d-inline sharp-txt ">Create account</a>
              <select class="form-control-sm float-right f-10 p-0 d-inline" style="border: none;">
                <option>Yesterday</option>
                <option>Last Week</option>
                <option>Last Month</option>
                <option>Last Year</option>                  
              </select>
            </div>              
          </div>              
        </div>
      </div>
    </div>

    
    <div class="row mt-4">
      <div class="col-4">
          <div class="sw-card">
            <div class="sw-card-head">
              <h1 class="f-16 b-3 d-inline sharp-txt">Invoices</h1>
              <select class="form-control-sm float-right f-10 p-0 d-inline" style="border: none;">
                <option>Yesterday</option>
                <option>Last Week</option>
                <option>Last Month</option>
                <option>Last Year</option>                  
              </select>
            </div>              
            <div>
              <h3 class="f-28 b-4 mb-0 money d-inline-block">$1,000</h3>
              <sapn class="f-12 d-block sharp-txt">NOT DEPOSITED</sapn>
            </div>
            <p class="f-12 mt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex natus iusto quis eveniet optio, repudiandae, atque suscipit nemo eum, voluptatem possimus ipsa! Minima necessitatibus, accusamus quisquam alias ullam non?
            </p>
          </div>
      </div>

      <div class="col-4">
        <div class="sw-card">
          <div class="sw-card-head">
            <h1 class="f-16 b-3 d-inline sharp-txt">Sales</h1>
            <select class="form-control-sm float-right f-10 p-0 d-inline" style="border: none;">
              <option>Yesterday</option>
              <option>Last Week</option>
              <option>Last Month</option>
              <option>Last Year</option>                  
            </select>
          </div>              
          <div>
            <h3 class="f-28 b-4 mb-0 money d-inline-block">$80,095</h3>
            <sapn class="f-12 d-block sharp-txt">Last Month</sapn>
          </div>
          <p class="mt-1 f-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex natus iusto quis eveniet optio, repudiandae, atque suscipit nemo eum, voluptatem possimus ipsa! Minima necessitatibus, accusamus quisquam alias ullam non?
          </p>
        </div>
      </div>
    </div>
</div>
{% endblock main %}