<div class="sw-tabs" style="width: 600px;">
    <a  href="{{ url_for('inventory.transections') }}" 
        class="sw-tab {% if 'transections' in request.path %} active {% endif %}"
        tab-target="#d" style="padding: 0.8em;">
            Transections
    </a>
    <a  href="{{ url_for('inventory.consumables') }}" 
        class="sw-tab {% if 'consumables' in request.path %} active {% endif %}" 
        tab-target="#d" style="padding: 0.8em;">
            Consumables
    </a>
    <a  href="{{ url_for('inventory.machines') }}" 
        class="sw-tab {% if 'machines' in request.path %} active {% endif %}" 
        tab-target="#d" style="padding: 0.8em;">
            Machines
    </a>
    <a  href="{{ url_for('inventory.services') }}" 
        class="sw-tab {% if 'services' in request.path %} active {% endif %}"
        tab-target="#d" style="padding: 0.8em;">
            Services
    </a>
    <div id="d" class="sw-tab-content"></div>
</div>